h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0px 0px 9px 0px;
    padding: 0;
}
body {
    font-family: "Source Sans Pro";
    font-size: 11pt;
    color: black;
    margin: 10px 13px 10px 13px;
}
a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro";
    font-weight: 300;
    color: black;
    break-after: avoid;
}
h1 {
    margin-bottom: 18px;
    font-size: 20pt;
    border-bottom: 1px solid #666666;
    background-color: #f2f2f2;
}
h2 {
    font-size: 18pt;
    background-color: #f2f2f2;
    font-style: italic;
}
h3 {
    font-size: 16pt;
}
h4 {
    font-size: 14pt;
    font-style: italic;
}
h5 {
    font-size: 12pt;
    font-variant: small-caps;
}
h6 {
    font-size: 12pt;
    font-style: italic;
    font-variant: small-caps;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    margin: 9px 40px 0px 40px;
    padding: 0px 0px 0px 20px;
    position: relative;
    background-color: #faebbc;
    border-left: solid 5px #e1cc89;
}
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 32pt;
    position: absolute;
    left: 0px;
    top: -8px;
    color: #e1cc89;
}
code, pre {
    font-family: Source Code Pro;
}
pre {
    display: block;
    font-size: 10pt;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color: black;
    font-size: 10pt;
    padding: 0;
}
@media screen and (min-width: 768px) {
    body {
        width: 748px;
        margin:10px auto;
    }
}

table {
  border-collapse: collapse;
  margin: 10px 0px;
}

table,
th,
td {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  font-size: 11pt;
  color: black;
  border: 1px solid #737373;
  padding: 4px 4px;
  vertical-align: top;
}

th {
  background-color: #4CAF50;
  font-weight: bold;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2}

ul > li > ul > li > ul > li > ul {
  list-style-type: disc;
}

ul > li > ul > li > ul > li > ul > li > ul {
  list-style-type: circle;
}

ul > li > ul > li > ul > li > ul > li > ul > li > ul {
  list-style-type: square;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ol > li > ul {
  list-style-type: disc;
}

ol > li > ul > li > ul {
  list-style-type: circle;
}

ol > li > ul > li > ul > li > ul {
  list-style-type: square;
}

.BlogAnchor {
  visibility: hidden;
}

img {
  max-width: 100%
}

section.greenbox, div.greenbox {border: 2pt #00a644 solid; border-radius: 6pt; padding: 1ex 1ex; margin: 1.5ex 0;}
section.yellowbox, div.yellowbox {border: 2pt #dec300 solid; border-left-width: 10pt; padding: 1ex 1ex; margin: 1.5ex 0;}
div.yellowbox {text-indent: 1em;}
div.yellowbox p {margin: 0 0;}
div.yellowbox p:first-of-type {text-indent: 0;}
section.bluebox, div.bluebox {border: 2pt #99d6ea solid; border-left-width: 10pt; padding: 1ex 1ex; margin: 1.5ex 0;}
.yellowbox > :first-child, .bluebox > :first-child, .greenbox > :first-child { margin-top: 0; }
.yellowbox > :last-child, .bluebox > :last-child, .greenbox > :last-child { margin-bottom: 0; }
div.yellowbox > hr {margin: 1ex -1ex 1ex -1ex; border: none; border-top: 2pt solid #dec300;}
div.yellowbox > hr + p {text-indent: 0;}
div.break {page-break-after: always;}
